<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">
		
	<!-- 请求到处理器的映射处理BeanNameUrlHandlerMapping,将请求的URL和Bean名字映射, 
		如请求为/hello, BeanNameUrlHandlerMapping将"/hello"路径直接映射到名字为/hello的bean.
		将找到的HelloWorldController包装为HandlerExecutionChain
 	-->
	<!-- <bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping" /> -->
	<!-- 处理器适配 SimpleControllerHandlerAdapter, 
		   将  HandlerExecutionChain的HelloWorldController处理器适配为SimpleControllerHandlerAdapter
		 HelloWorldController处理器中方法调用时,   SimpleControllerHandlerAdapter会调用处理器的handleRequest方法进行处理,
		  handlerRequest方法返回一个ModelAndView给DispatcherServlet
	-->
	<!-- <bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter" /> -->
	<!-- 配置视图解析器 : 如何把handler方法返回值解析为实际的物理视图,将ModelAndView解析为View -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/view/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	<!-- DispatcherServlet接收请求, 请求为(/hello)的到HelloWorldController解析 -->
	<bean name="/hello" class="com.cache.web.controller.HelloWorldController" />
</beans>






















